body {
    width: 1200px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
padding-top: 20px;
}
#search-box{

    width: 200px;
    height: 30px;
    border: 2px solid rgb(175, 167, 166);
}

#search-box:hover,
#search-box:focus{
    border: 2px solid rgb(61, 146, 0);
}